go 1.25.5

use (
	./libs/atlas-constants
	./libs/atlas-kafka
	./libs/atlas-model
	./libs/atlas-rest
	./libs/atlas-script-core
	./libs/atlas-socket
	./libs/atlas-tenant
	./services/atlas-account/atlas.com/account
	./services/atlas-ban/atlas.com/ban
	./services/atlas-asset-expiration/atlas.com/asset-expiration
	./services/atlas-buddies/atlas.com/buddies
	./services/atlas-buffs/atlas.com/buffs
	./services/atlas-cashshop/atlas.com/cashshop
	./services/atlas-chairs/atlas.com/chairs
	./services/atlas-chalkboards/atlas.com/chalkboards
	./services/atlas-channel/atlas.com/channel
	./services/atlas-character-factory/atlas.com/character-factory
	./services/atlas-character/atlas.com/character
	./services/atlas-configurations/atlas.com/configurations
	./services/atlas-consumables/atlas.com/consumables
	./services/atlas-data/atlas.com/data
	./services/atlas-drop-information/atlas.com/dis
	./services/atlas-drops/atlas.com/drops
	./services/atlas-effective-stats/atlas.com/effective-stats
	./services/atlas-expressions/atlas.com/expressions
	./services/atlas-fame/atlas.com/fame
	./services/atlas-gachapons/atlas.com/gachapons
	./services/atlas-families/atlas.com/family
	./services/atlas-guilds/atlas.com/guilds
	./services/atlas-inventory/atlas.com/inventory
	./services/atlas-invites/atlas.com/invites
	./services/atlas-keys/atlas.com/keys
	./services/atlas-login/atlas.com/login
	./services/atlas-map-actions/atlas.com/map-actions
	./services/atlas-maps/atlas.com/maps
	./services/atlas-marriages/atlas.com/marriages
	./services/atlas-messages/atlas.com/messages
	./services/atlas-messengers/atlas.com/messengers
	./services/atlas-monster-death/atlas.com/monster
	./services/atlas-monsters/atlas.com/monsters
	./services/atlas-notes/atlas.com/notes
	./services/atlas-npc-conversations/atlas.com/npc
	./services/atlas-npc-shops/atlas.com/npc
	./services/atlas-parties/atlas.com/parties
	./services/atlas-pets/atlas.com/pets
	./services/atlas-portal-actions/atlas.com/portal
	./services/atlas-portals/atlas.com/portals
	./services/atlas-query-aggregator/atlas.com/query-aggregator
	./services/atlas-quest/atlas.com/quest
	./services/atlas-rates/atlas.com/rates
	./services/atlas-reactor-actions/atlas.com/reactor
	./services/atlas-reactors/atlas.com/reactors
	./services/atlas-saga-orchestrator/atlas.com/saga-orchestrator
	./services/atlas-skills/atlas.com/skills
	./services/atlas-storage/atlas.com/storage
	./services/atlas-tenants/atlas.com/tenants
	./services/atlas-transports/atlas.com/transports
	./services/atlas-world/atlas.com/world
	./services/atlas-wz-extractor/atlas.com/wz-extractor
)
